
<div class="modal fade" id="createJobModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form action="/createJobs" method="POST">
        <div class="modal-header">
          <h5 class="modal-title">Post Job</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <input name="title" class="form-control mb-2" placeholder="Job Title" required>
          <input name="clinic" class="form-control mb-2" placeholder="Clinic">
          <input name="location" class="form-control mb-2" placeholder="Location">
          <input name="salary" class="form-control mb-2" placeholder="Salary">
          <input name="contact" class="form-control mb-2" placeholder="Contact">
          <textarea name="description" class="form-control" placeholder="Description"></textarea>
        </div>

        <div class="modal-footer">
          <button class="btn btn-success">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
